page-panchang {
body {
  font-family: thohoma;
}
.item ion-thumbnail {
    min-width: 3rem;    
    min-height: 3rem;
    img {
        max-width: 3rem;    
        min-width: 3rem;
    }
}
.center {
    margin-left: auto;
    margin-right: auto;
    display: block;
	font-weight: bold;
}
.title {
	font-weight: bold;
}

.red {
 color: #f44141;
 font-weight: bold;
}
.blue {
 color: #4176f4;
 font-weight: bold;
}
}
