ion-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

ion-button.signin {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}
