<ion-header [translucent]="true" >
    <ion-toolbar mode="ios">
        <ion-title><ion-img src="assets/imgs/vho-title5.png" ></ion-img></ion-title>
        <ion-button color="primary" slot="start" menuToggle>
            <ion-menu-button width="24">
                <img alt="menu" height="24" src="assets/icon/hamburger.png" />
            </ion-menu-button>
        </ion-button>
    </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" class="ion-content-centered">
    <ion-button class="signin" type="button" expand="block" color="primary" tappable (click)="googleLogin()">Sign in with Google</ion-button>
    <ion-button class="signin" type="button" expand="block" color="secondary" tappable (click)="facebookLogin()">Sign in with Facebook</ion-button>
    <ion-button class="signin" type="button" expand="block" color="light" tappable (click)="anonymous()">Continue as Anonymous User(limited access ONLY)</ion-button>

    <div class="text-center"><strong>{{info}}</strong></div>
</ion-content>
