<ion-header [translucent]="true">
  <ion-toolbar mode="ios">
    <ion-title><img alt="logo" height="24" src="assets/imgs/logo.png" /></ion-title>
    <ion-button color="primary" slot="start" menuToggle>
      <ion-menu-button width="24">
       <img alt="menu" height="24" src="assets/icon/hamburger.png" />	  
	  </ion-menu-button>
    </ion-button>
  </ion-toolbar>
</ion-header>
<ion-content no-padding>
<ion-grid class="bct">
 <ion-row><ion-col size="6"><div #birthChart ></div></ion-col><ion-col><div #navChart ></div></ion-col></ion-row>
 </ion-grid>
  <div text-center><p ion-text class="info" color="primary" [innerHTML]='info'></p></div>
<ion-grid>  
 <ion-row class="maintitle"><ion-col col-12>{{'Birth Details'|translate}}</ion-col></ion-row>
 <ion-row class="bd"><ion-col class="lbl" size="6"><div>{{'Date of Birth'|translate}}</div></ion-col><ion-col><div>{{dob}}</div></ion-col></ion-row>
 <ion-row class="bd"><ion-col class="lbl" size="6"><div>{{'Lagna'|translate}}</div></ion-col><ion-col><div>{{lagna}}</div></ion-col></ion-row>
 <ion-row class="bd"><ion-col class="lbl" size="6"><div>{{'Lagna Lord'|translate}}</div></ion-col><ion-col><div>{{lagna_lord}}</div></ion-col></ion-row>
 <ion-row class="bd"><ion-col class="lbl" size="6"><div>{{'Moon Sign'|translate}}</div></ion-col><ion-col><div>{{moon_sign}}</div></ion-col></ion-row>
 <ion-row class="bd"><ion-col class="lbl" size="6"><div>{{'Sun Sign'|translate}}</div></ion-col><ion-col><div>{{sun_sign}}</div></ion-col></ion-row>
 <ion-row class="bd"><ion-col class="lbl" size="6"><div>{{'Tithi'|translate}}</div></ion-col><ion-col><div>{{tithi}}</div></ion-col></ion-row>
 <ion-row class="bd"><ion-col class="lbl" size="6"><div>{{'Birth Star'|translate}}</div></ion-col><ion-col><div>{{birth_star}}</div></ion-col></ion-row>
 <ion-row class="bd"><ion-col class="lbl" size="6"><div>{{'Star Lord'|translate}}</div></ion-col><ion-col><div>{{star_lord}}</div></ion-col></ion-row>
 <ion-row class="bd"><ion-col class="lbl" size="6"><div>{{'Moon Phase'|translate}}</div></ion-col><ion-col><div>{{moon_phase}}</div></ion-col></ion-row>
 <ion-row class="maintitle"><ion-col col-12>{{'Yogas in your horoscope'|translate}}</ion-col></ion-row>
 <div *ngFor="let key of objectKeys(oYog)">
 <ion-row class="title"><ion-col col-12>{{ oYog[key].name }}</ion-col></ion-row>
 <ion-row class="desc"><ion-col col-12><div [innerHTML]='oYog[key].desc'></div></ion-col></ion-row>
 </div>
 <ion-row class="author"><ion-col size="12">Ref. from famous book <ion-badge color="tertiary" tappable (click)="more()">Yogas in Astrology</ion-badge> by author K S Charak</ion-col></ion-row>
</ion-grid> 
<ion-card>
<img src="https://66.media.tumblr.com/25b5954e66a9d530721a0d1edb9ba82e/tumblr_pjdvgo6gY51xp0noco1_540.png"/>
<div class="adv"> Any questions? <span class="more" tappable (click)="more()">Talk to Astrologer </span></div>
</ion-card>

</ion-content>
