page-kp-astro {
.redText {
color: #FF0000;
}
.blueText {
color: #001EFF;
}
.greenText {
color: #3db161;
}
.orangeText {
color: #f0882f;
}
.brownText {
color: #cc0000;
}
.boldText {
font-weight: bold;
}
ion-grid {
  margin:0px;
}
ion-card.adcard {
    position: relative;
    text-align: center;
  }
  .adv {
    padding: 5px;
    position: absolute;
    top: 2%;
    width: 100%;
    font-weight: bold;
	text-align: left;
	margin-left:25px;
  }
  .more {
	color: blue;
	padding: 5px;
	font-weight: bold;
  }
 ion-col div {
    border: 1px solid #e6e9ee;
    padding: 5px;
    text-align: center;
	display: border-box;
  }
 ion-row.maintitle {
	font-weight:bold;
	font-size:15px;
	background-color: #f4a460;
	color: #FEFAF7;
  }   
  ion-row.title {
    text-align:center;
	font-weight:bold;
	background-color: #f4a460;
	padding: 5px;
	color: #FEFAF7;
    text-transform: uppercase;
  }
   ion-row.title2 {
	font-weight:bold;
	padding: 2px;
  }
  ion-row.subtitle {
	font-weight:bold;
	font-size:15px;
  }
  ion-col div.desc {
	background-color: #e7f5fe;
	font-weight:bold;
	padding: 5px;
    text-align:left;
    }
.note {
   background-color: #ffffb2;
	font-weight:bold;
	padding: 5px;
    text-align:left;
  }
  .recfy {
   background-color: #ffffb2;
	font-weight:bold;
	padding: 5px;
    text-align:center;
  }
  ion-card-header {
	font-size: 25px;
	font-weight: bold;
  }
  .note2 {
	font-weight:bold;
	padding: 5px;
    text-align:center;
  }
}
