 body {
  font-family: roboto;
 }
 .rtitle {
  font-size: 1.5rem;
  font-weight: bold;
  color: #d35400;
}
 ion-icon.star {
   font-size: 40px;
   color: #FFBF00;
 }
 p.info {
   text-align: center;
   font-weight: bold;
  }