<ion-header [translucent]="true">
  <ion-toolbar mode="ios">
    <ion-title><img alt="logo" height="24" src="assets/imgs/logo.png" /></ion-title>
    <ion-button color="primary" slot="start" menuToggle>
      <ion-menu-button width="24">
       <img alt="menu" height="24" src="assets/icon/hamburger.png" />	  
	  </ion-menu-button>
    </ion-button>
    <ion-button color="primary" slot="end">
      <ion-menu-button width="24">
       <img alt="menu" height="24" src="assets/imgs/Mo.png" tappable (click)="rightmenu()"/>	  
	  </ion-menu-button>
    </ion-button>
  </ion-toolbar>
</ion-header>
<ion-content>
  <p ion-text class="info" color="primary" [innerHTML]='info'></p>
<ion-grid no-padding>
<div *ngIf="showBD">
 <ion-row class="bd"><ion-col class="lbl" size="12">{{'Birth Details'|translate}}</ion-col></ion-row>
 <ion-row class="bd"><ion-col class="lbl" size="6"><div>{{'Date of Birth'|translate}}</div></ion-col><ion-col><div>{{dob}}</div></ion-col></ion-row>
 <ion-row class="bd"><ion-col class="lbl" size="6"><div>{{'Lagna'|translate}}</div></ion-col><ion-col><div>{{lagna}}</div></ion-col></ion-row>
 <ion-row class="bd"><ion-col class="lbl" size="6"><div>{{'Lagna Lord'|translate}}</div></ion-col><ion-col><div>{{lagna_lord}}</div></ion-col></ion-row>
 <ion-row class="bd"><ion-col class="lbl" size="6"><div>{{'Moon Sign'|translate}}</div></ion-col><ion-col><div>{{moon_sign}}</div></ion-col></ion-row>
 <ion-row class="bd"><ion-col class="lbl" size="6"><div>{{'Sun Sign'|translate}}</div></ion-col><ion-col><div>{{sun_sign}}</div></ion-col></ion-row>
 <ion-row class="bd"><ion-col class="lbl" size="6"><div>{{'Tithi'|translate}}</div></ion-col><ion-col><div>{{tithi}}</div></ion-col></ion-row>
 <ion-row class="bd"><ion-col class="lbl" size="6"><div>{{'Birth Star'|translate}}</div></ion-col><ion-col><div>{{birth_star}}</div></ion-col></ion-row>
 <ion-row class="bd"><ion-col class="lbl" size="6"><div>{{'Star Lord'|translate}}</div></ion-col><ion-col><div>{{star_lord}}</div></ion-col></ion-row>
 <ion-row class="bd"><ion-col class="lbl" size="6"><div>{{'Moon Phase'|translate}}</div></ion-col><ion-col><div>{{moon_phase}}</div></ion-col></ion-row>
 </div>
 </ion-grid>
 <ion-card class="dashmsg">
  <div> You are currently in <span class="dmd">{{mdas1}}</span> Maha Dasha, <span class="dad">{{adas1}}</span> Antar Dasha and <span class="dpd">{{pdas1}}</span> Pratyantar Dasha. This period ends on {{pend1}}. <div *ngIf="lifevts">During this period can expect <span class="dlev">{{lifevts}}</span> whereas the timing & promising of this events depends on which planet is transiting in the constellation of these lords and also in which SUB the dasha lord  <span class="dmd">{{mdas1}}</span> is currently in transit and if SUB LORD is favouring or not. </div>Currently your dasha lord <span class="dmd">{{mdas1}}</span> is transiting in <span class="dras">{{mdras}}</span> <ion-spinner *ngIf="bras" item-right></ion-spinner> and in the SUB of <span class="dsub">{{mdsub}}</span><ion-spinner *ngIf="bras" item-right></ion-spinner><br><br>
  In KP Astrology the star depositor/significators of the planet produces the results more predominantly than lordship and ownership of the planet during its dasha, antar dasha or pratyantar dasha, below transit report is analyzed according to star depositors of dasha lords, transiting planet & the sub lord.<br>Below is KP transit report of your current dasha, Antar & Pratyantar dasha
 </div>
  <ion-grid>
  <ion-row class="fltrs"><ion-col class="tlbl">{{'Show the Transits of' | translate }}</ion-col></ion-row>
 <ion-row>
  <ion-col [class]= "tsel.All"  tappable (click)="trnres('All')">
		<ion-label>{{ 'All Planets' | translate }}</ion-label>
	</ion-col>
     <ion-col [class]= "tsel.Su" tappable (click)="trnres('Su')">
		<ion-label>{{ 'Sun' | translate }}</ion-label>
      </ion-col>
      <ion-col [class]= "tsel.Mo" tappable (click)="trnres('Mo')">
		<ion-label>{{ 'Moon' | translate }}</ion-label>
      </ion-col>
</ion-row>
<ion-row>
  <ion-col [class]= "tsel.Ju" tappable (click)="trnres('Ju')">
		<ion-label>{{ 'Jupiter' | translate }}</ion-label>
      </ion-col>
      <ion-col [class]= "tsel.Ve"  tappable (click)="trnres('Ve')">
		<ion-label>{{ 'Venus' | translate }}</ion-label>
      </ion-col>
      <ion-col [class]= "tsel.Sa"  tappable (click)="trnres('Sa')">
		<ion-label>{{ 'Saturn' | translate }}</ion-label>
      </ion-col>
</ion-row>
<ion-row>
  <ion-col [class]= "tsel.Ma"  tappable (click)="trnres('Ma')">
		<ion-label>{{ 'Mars' | translate }}</ion-label>
      </ion-col>
      <ion-col [class]= "tsel.Me" tappable (click)="trnres('Me')">
		<ion-label>{{ 'Mercury' | translate }}</ion-label>
      </ion-col>
      <ion-col [class]= "tsel.Ra" tappable (click)="trnres('Ra')">
		<ion-label>{{ 'Rahu & Ketu' | translate }}</ion-label>
      </ion-col>
</ion-row>
</ion-grid>
  </ion-card>
 	<div #cal1>
	</div>
	<div [innerHTML]='mon1'></div>
	<ion-list class="dash">
      <ion-item (click)="analyze($event, oTrans1[key])" *ngFor="let key of objectKeys(oTrans1)">
        <p><span class="ddesc" [innerHTML]= 'oTrans1[key].desc'></span><br>
		<span class="dsdesc">{{oTrans1[key].sdesc}}</span></p>
	  </ion-item>
	</ion-list>
	<div #cal2>
	</div>
	<div [innerHTML]='mon2'></div>
	<ion-list class="dash">
      <ion-item (click)="analyze($event, oTrans2[key])" *ngFor="let key of objectKeys(oTrans2)">
        <p><span class="ddesc" [innerHTML]= 'oTrans2[key].desc'></span><br>
		<span class="dsdesc">{{oTrans2[key].sdesc}}</span></p>
	  </ion-item>
	</ion-list>
	<div #cal3>
	</div>
	<div [innerHTML]='mon3'></div>
	<ion-list class="dash">
      <ion-item (click)="analyze($event, oTrans3[key])" *ngFor="let key of objectKeys(oTrans3)">
        <p><span class="ddesc" [innerHTML]= 'oTrans3[key].desc'></span><br>
		<span class="dsdesc">{{oTrans3[key].sdesc}}</span></p>
	  </ion-item>
	</ion-list>
	<div #cal4>
	</div>
	<div [innerHTML]='mon4'></div>
	<ion-list class="dash">
      <ion-item (click)="analyze($event, oTrans4[key])" *ngFor="let key of objectKeys(oTrans4)">
        <p><span class="ddesc" [innerHTML]= 'oTrans4[key].desc'></span><br>
		<span class="dsdesc">{{oTrans4[key].sdesc}}</span></p>
	  </ion-item>
	</ion-list>
<ion-card *ngIf="showNote">
   <ion-card-content><span>No Transits identified</span>
	</ion-card-content>
  </ion-card>

</ion-content>
