body {
 font-family: roboto;
}
  ion-row.bd {
    text-align:center;
	font-weight:bold;
	border: 1px solid #d35400;
	ion-col.lbl {
	  color: #d35400;
	  background-color: #ffd9a3;
	  padding: 5px;
	  border: 1px solid #ffd9a3;
	  font-weight: bold;
	}
  }
  ion-row.maintitle {
    text-align:center;
	font-weight:bold;
	background-color: #ffd9a3;
	border: 1px solid #d35400;
	ion-col {
	  text-align:center;
	  color: #d35400;
	  padding: 5px;
	  border: 1px solid #ffd9a3;
	}
  }
  .adv {
    padding: 5px;
    position: absolute;
    top: 2%;
    width: 100%;
    font-weight: bold;
	text-align: left;
	margin-left:25px;
  }
  .more {
	color: var(--vho-color-blue);
  }
 .zoom {
    position: fixed;
    width: 100%;
    height: 100%;
}
 p.info {
   text-align: center;
   font-weight: bold;
  }
