<ion-header [translucent]="true">
  <ion-toolbar mode="ios">
    <ion-title><img alt="title" src="assets/imgs/vho-title5.png" style="height: auto; max-height: 100%; width: auto; max-width: 100%;" /></ion-title>
<div slot="start" class="header-icon" menuToggle>
			<ion-icon name="menu" size="large"></ion-icon>
		  </div>
      </ion-toolbar>
</ion-header>
<ion-content padding>
  <div class="post" [ngStyle]="{'background': 'linear-gradient(to bottom right, #2e2e2e, #1f1f1f)'}">
    <br><br><br><br>
    <div class="title">{{dho.msgn}} : {{today | date:'fullDate'}}</div>
    <br><br>
    <div class="desc" [innerHTML]='dho.msg'></div>
  </div>
  <div class="fixed-content"></div>
</ion-content>

