 body {
 font-family: roboto;
}
.scroll-content {
    padding-bottom: 56px; /* This will create space at the bottom */
  }
  
  .post .title {
    font-size: 1.5em;
    font-weight: bold;
    color: #f4f4f4;
    text-align: center;
  }
  
  .post .desc {
    font-size: 1.2em;
    color: #e0e0e0;
    padding: 0 10px;
    text-align: justify;
  }
  