page-astrologers {
.redText {
color: #FF0000;
}
.blueText {
color: #001EFF;
}
.greenText {
color: #3db161;
}
img.avatar{
    width:5rem;
    height:5rem;
	-webkit-border-radius: 50%;
	 border-radius:50%;
}
}
