body {
 font-family: roboto;
}
.redText {
color: #FF0000;
}
.blueText {
color: var(--vho-color-blue);
}
.greenText {
color: #3db161;
}
.orangeText {
color: #f0882f;
}
.brownText {
color: #cc0000;
}
.boldText {
font-weight: bold;
}
.voiletText {
color: B833FF;
}

    .adv {
    position: absolute;
    top: 5%;
    width: 100%;
    font-weight: bold;
	font-size: 1.2rem;
	text-align: left;
	margin-left:30px;
	padding: 5px;
  }

  .more {
	color: var(--vho-color-blue);
  }
  ion-row.maintitle {
    text-align:center;
	font-weight:bold;
	background-color: #ffd9a3;
	border: 1px solid #d35400;
	ion-col {
	  text-align:center;
	  color: #d35400;
	  padding: 5px;
	  border: 1px solid #ffd9a3;
	}
  }
 p.info {
   text-align: center;
   font-weight: bold;
  }

.note {
   background-color: #ffffb2;
	font-weight:bold;
	padding: 5px;
    text-align:left;
  }
  .recfy {
   background-color: #ffffb2;
	font-weight:bold;
	padding: 5px;
    text-align:center;
  }
  ion-card-header {
	font-size: 25px;
	font-weight: bold;
  }
 .mdas {
   border: 2px solid #424ef4;
 }
 .adas {
   border: 2px solid #b70e4d ;
 }
 .pdas {
  border: 2px solid #B833FF;
 }
