page-yoga-info {
ion-grid {
  margin:0px;
}
ion-card {
    position: relative;
    text-align: center;
  }
 ion-col div {
    border: 1px solid #e6e9ee;
    padding: 5px;
    text-align: center;
	display: border-box;
  }
  
  ion-row.title {
    text-align:center;
	font-weight:bold;
	background-color: #3399FF;
	padding: 5px;
	color: #FBFCFC;
  }
  ion-row.subtitle {
	font-weight:bold;
	font-size:15px;
	color: blue;
  }
ion-row.note div {
	font-weight:bold;
	background-color: #ffffb2;
	padding: 5px;
	color: #222334;
    text-align:left;
	font-size:15px;
  }  
  .adv {
    padding: 5px;
    position: absolute;
    top: 2%;
    width: 100%;
    font-weight: bold;
	text-align: left;
	margin-left:25px;
  }
  .more {
	color: blue;
  }
}
