<ion-header [translucent]="true">
  <ion-toolbar mode="ios">
    <ion-title><img alt="title" src="assets/imgs/vho-title5.png" style="height: auto; max-height: 100%; width: auto; max-width: 100%;" /></ion-title>
<div slot="start" class="header-icon" menuToggle>
			<ion-icon name="menu" size="large"></ion-icon>
		  </div>
      </ion-toolbar>
</ion-header>
<ion-content padding>
         <ion-list padding>
		 
		<ion-item>
			<p><strong>Name: </strong><span>{{nam}}</span></p>
		</ion-item>
    <ion-item>
			<p><strong>Gender: </strong><span>{{gen}}</span></p>
    </ion-item>
		<ion-item>
			<p><strong>DOB: </strong><span>{{dob}}</span></p>
		</ion-item>
		<ion-item>	
			<p><strong>Latitude: </strong><span>{{lat}}</span></p>
		</ion-item>
		<ion-item>	
			<p><strong>Longitude: </strong><span>{{lng}}</span></p>
		</ion-item>
		<ion-item>	
			<p><strong>Timezone: </strong><span>{{tz}}</span></p>
		</ion-item>
		<ion-item>	
			<p><strong>Chart Type: </strong><span>{{chtyp}}</span></p>
		</ion-item>
		<ion-item>	
			<p><strong>Ayanamsa: </strong><span>{{aynm}}</span></p>
		</ion-item>
		<ion-item>	
			<p><strong>Language: </strong><span>{{lan}}</span></p>
		</ion-item>
		<ion-item>	
			<p><strong>Email: </strong><span>{{eml}}</span></p>
		</ion-item>
		<ion-item>	
			<p><strong>Mobile: </strong><span>{{mob}}</span></p>
		</ion-item>
		<ion-item>
			<ion-label>Link</ion-label>
			<ion-input [(ngModel)]="lnk"></ion-input>
		</ion-item>
   </ion-list>
	   <div padding>
				<p ion-text class="info" color="primary" [innerHTML]='info'></p>
			<ion-button type="button" expand="block" color="tertiary" tappable (click)="save()">OK</ion-button>
		</div>
<div class="fixed-content"></div></ion-content>