<ion-header [translucent]="true">
  <ion-toolbar mode="ios">
    <ion-title><img alt="logo" height="24" src="assets/imgs/logo.png" /></ion-title>
    <ion-button color="primary" slot="start" menuToggle>
      <ion-menu-button width="24">
       <img alt="menu" height="24" src="assets/icon/hamburger.png" />	  
	  </ion-menu-button>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>

   <ion-list class="center" padding *ngIf="showList">
		<ion-item>
			<ion-label floating>His Name</ion-label>
			<ion-input class="nam" [(ngModel)]="nam1"></ion-input>
		</ion-item>
		<ion-item>
			<ion-label floating>His Date of Birth</ion-label>{{dob1}}
		  <ion-button clear style="background-color:#fdd7d7" icon-right (click)="showHisDatePicker()">
			<ion-icon name="calendar">
			</ion-icon>
		  </ion-button>
		</ion-item>
		<ion-item>
			<ion-label floating>His Time of Birth</ion-label>{{tob1}}
		  <ion-button clear style="background-color:#fdd7d7" icon-right (click)="showHisTimePicker()">
			<ion-icon name="calendar">
			</ion-icon>
		  </ion-button>
		</ion-item>
		<ion-item>
			<ion-label floating>His Place of Birth</ion-label>
			<ion-input [(ngModel)]="autocomplete.query" (input)="updateSearch()" type="text"></ion-input>
		</ion-item>
		<ion-item *ngFor="let item of autocompleteItems" tappable (click)="chooseItem(item)">
		{{ item }}
		</ion-item>
		<ion-item>
			<ion-label floating>Her Name</ion-label>
			<ion-input class="nam" [(ngModel)]="nam2"></ion-input>
		</ion-item>
		<ion-item>
			<ion-label floating>Her Date of Birth</ion-label>{{dob2}}
		  <ion-button clear style="background-color:#fdd7d7" icon-right (click)="showHerDatePicker()">
			<ion-icon name="calendar">
			</ion-icon>
		  </ion-button>
		</ion-item>
		<ion-item>
			<ion-label floating>Her Time of Birth</ion-label>{{tob2}}
		  <ion-button clear style="background-color:#fdd7d7" icon-right (click)="showHerTimePicker()">
			<ion-icon name="calendar">
			</ion-icon>
		  </ion-button>
		</ion-item>
		<ion-item>
			<ion-label floating>Her Place of Birth</ion-label>
			<ion-input [(ngModel)]="autocomplete.query2" (input)="updateSearch2()" type="text"></ion-input>
		</ion-item>
		<ion-item *ngFor="let item of autocompleteItems2" tappable (click)="chooseItem2(item)">
		{{ item }}
		</ion-item>
		<div class="ion-text-center"><img src="assets/imgs/lovego.png" alt="Love Compatibility" tappable (click)="save($event)" />		<p ion-text class="info" color="dark" [innerHTML]='info'></p></div>
  </ion-list>
  <div tappable><canvas #cnvCC></canvas></div>
  <div *ngIf="showGrid" class="frep" [innerHTML]='frep'></div>
  <ion-grid *ngIf="showGrid">
      <ion-row class="title"><ion-col>{{nam1}}</ion-col><ion-col col-6>{{nam2}}</ion-col></ion-row>
    <ion-row class="lines subtitle"><ion-col><div>{{dob1}} {{tob1}}</div></ion-col><ion-col><div>{{dob2}} {{tob2}}</div></ion-col></ion-row>
    <ion-row class="title"><ion-col>Moon Sign</ion-col></ion-row>
    <ion-row class="lines subtitle"><ion-col><div [innerHTML]='msign'></div></ion-col><ion-col><div [innerHTML]='wsign'></div></ion-col></ion-row>
    <ion-row class="title"><ion-col>Birth Star</ion-col></ion-row>
    <ion-row class="lines subtitle"><ion-col><div  [innerHTML]='mstar'></div></ion-col><ion-col><div [innerHTML]='wstar'></div></ion-col></ion-row>
    <ion-row class="title"><ion-col>Ruling Planet</ion-col></ion-row>
    <ion-row class="lines subtitle"><ion-col><div [innerHTML]='mpl'></div></ion-col><ion-col><div [innerHTML]='wpl'></div></ion-col></ion-row>
    <ion-row class="title"><ion-col>Ruling Animal</ion-col></ion-row>
    <ion-row class="lines subtitle"><ion-col><div [innerHTML]='maml'></div></ion-col><ion-col><div [innerHTML]='waml'></div></ion-col></ion-row>
    <ion-row class="title"><ion-col>Characteristics</ion-col></ion-row>
    <ion-row class="lines subtitle"><ion-col><div [innerHTML]='mchr'></div></ion-col><ion-col><div [innerHTML]='wchr'></div></ion-col></ion-row>
	<ion-row class="maintitle"><ion-col>Asta koota Points</ion-col></ion-row>
	<ion-row class="bd" *ngFor="let key of objectKeys(oKota)"><ion-col class="lbl" size="10"><div class="bstar" tappable (click)="showInf('Asta Koota')">{{key}}</div></ion-col><ion-col> <div [innerHTML] = 'oKota[key].pts'></div></ion-col></ion-row>
  </ion-grid>
  <ion-grid *ngIf="showGrid">
 <ion-row class="maintitle"><ion-col>{{'DOSHAS'|translate}}</ion-col></ion-row>
 <ion-row class="bd"><ion-col class="lbl" size="4"><div class="bstar" tappable (click)="dosdtl('strii')">{{'Strii Dheergha'|translate}}</div></ion-col><ion-col class="desc"><div [class]="dos.striis">{{dos.strii}}</div></ion-col></ion-row>   
 <ion-row class="bd"><ion-col class="lbl" size="4"><div class="bstar" tappable (click)="dosdtl('mah')">{{'Mahendra'|translate}}</div></ion-col><ion-col class="desc"><div [class]="dos.mahs">{{dos.mah}}</div></ion-col></ion-row>
 <ion-row class="bd"><ion-col class="lbl" size="4"><div class="bstar" tappable (click)="dosdtl('vedh')">{{'Vedh Dosha'|translate}}</div></ion-col><ion-col class="desc"><div [class]="dos.vedhs">{{dos.vedh}}</div></ion-col></ion-row>
 <ion-row class="bd"><ion-col class="lbl" size="4"><div class="bstar" tappable (click)="dosdtl('raju')">{{'Rajju Dosha'|translate}}</div></ion-col><ion-col class="desc"><div [class]="dos.rajus">{{dos.raju}}</div></ion-col></ion-row>
 <ion-row class="bd"><ion-col class="lbl" size="4"><div class="bstar" tappable (click)="dosdtl('attr')">{{'Vasya'|translate}}</div></ion-col><ion-col class="desc"><div [class]="dos.attrs">{{dos.attr}}</div></ion-col></ion-row>
<ion-row class="bd"><ion-col class="lbl" size="4"><div class="bstar" tappable (click)="dosdtl('pap')">{{'Papasamyam'|translate}}</div></ion-col><ion-col class="desc"><div [class]="dos.paps">{{dos.pap}}</div></ion-col></ion-row>
 <ion-row class="bd"><ion-col class="lbl" size="4"><div class="bstar" tappable (click)="dosdtl('kal')">{{'Kaltra Dosha'|translate}}</div></ion-col><ion-col class="desc"><div [class]="dos.kals">{{dos.kal}}</div></ion-col></ion-row>
 <ion-row class="bd"><ion-col class="lbl" size="4"><div class="bstar" tappable (click)="dosdtl('and')">{{'Mangal Dosha'|translate}}</div></ion-col><ion-col class="desc"><div [class]="dos.mngls">{{dos.mngl}}</div></ion-col></ion-row>
</ion-grid>
<div *ngIf="showGrid" tappable (click)="talk2ast()">
<img src="assets/imgs/126ad.png"/>
</div>
</ion-content>
