<ion-header [translucent]="true">
  <ion-toolbar mode="ios">
    <ion-title><img alt="title" src="assets/imgs/vho-title5.png" style="height: auto; max-height: 100%; width: auto; max-width: 100%;" /></ion-title>
<div slot="start" class="header-icon" menuToggle>
			<ion-icon name="menu" size="large"></ion-icon>
		  </div>
      		  <div slot="end" class="header-icon" (click)="rightmenu()">
			<ion-icon name="moon" size="large"></ion-icon>
		  </div>
</ion-toolbar>
</ion-header>
<ion-content no-padding>
<div class='note' [innerHTML]='chartanls'></div>
<div #divChart></div>
<div class="fixed-content"></div></ion-content>
