<ion-header [translucent]="true">
  <ion-toolbar mode="ios">
    <ion-title><img alt="logo" height="24" src="assets/imgs/logo.png" /></ion-title>
    <ion-button color="primary" slot="start" menuToggle>
      <ion-menu-button width="24">
       <img alt="menu" height="24" src="assets/icon/hamburger.png" />	  
	  </ion-menu-button>
    </ion-button>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
	  <div class="title">Write An Article</div>
   <ion-list>
		<ion-item>	
			<ion-label>Title</ion-label>
			<ion-input maxlength="500" [(ngModel)]="title" type="text"></ion-input>
		</ion-item>
		<ion-item>
		<ion-label>Story</ion-label>
		<ion-textarea rows="6" [(ngModel)]='story' placeholder="Enter or Copy/Paste Text"></ion-textarea>
		</ion-item>
		<ion-item>
		 <img [src]="img" style="width: 100%" [hidden]="img === null">
		</ion-item>
		<ion-item class="item item-icon-right">	
			<ion-label>Image</ion-label>
			<ion-icon name="camera" (click)="takePic()" item-right></ion-icon>
			<ion-icon name="attach" (click)="uploadPic()" item-right></ion-icon>
		</ion-item>		
		<div padding class="ion-text-center">
	        <p ion-text class="info" color="primary" [innerHTML]='info' tappable (click)="vstory()"></p>
			<div *ngIf="showP">
			<ion-button type="button" expand="block" color="tertiary" tappable (click)="save()">Publish</ion-button></div>
		</div>
  </ion-list>
  <div *ngIf="np"><p><strong>Please complete your <ion-badge (click)="profile()">profile</ion-badge> so that you can use advanced text editor in our CMS <a [href]="cms" to>{{cms}}</a> to publish your articles. Please watch this video <a href='https://www.youtube.com/watch?v=l8DTbUsxkB8'>https://www.youtube.com/watch?v=l8DTbUsxkB8</a> for more information</strong></p></div>
  <div *ngIf="cp"><p><strong>You can also use advanced text editor in our CMS <strong><a [href]="cms" to>{{cms}}</a></strong> to publish your articles. Please watch this video <a href='https://www.youtube.com/watch?v=l8DTbUsxkB8'>https://www.youtube.com/watch?v=l8DTbUsxkB8</a> for more information</strong></p></div>
</ion-content>

