<ion-header [translucent]="true">
  <ion-toolbar mode="ios">
    <ion-title><img alt="logo" height="24" src="assets/imgs/logo.png" /></ion-title>
    <ion-button color="primary" slot="start" menuToggle>
      <ion-menu-button width="24">
       <img alt="menu" height="24" src="assets/icon/hamburger.png" />	  
	  </ion-menu-button>
    </ion-button>
  </ion-toolbar>
</ion-header>
<ion-content>
	<ion-grid class="pd">
	<ion-row><ion-col size="12"><ion-label>Name:  {{kpd.binf.nam}}</ion-label></ion-col></ion-row>
	<ion-row><ion-col size="12"><ion-label>Date of Birth:  <span>{{kpd.binf.dob}}</span></ion-label></ion-col></ion-row>
    <ion-row><ion-col size="12"><ion-label>Transit Date</ion-label></ion-col></ion-row>
	<ion-row>
	<ion-col size="3">
      <ion-input id="day" placeholder="DD" type="tel" [(ngModel)]="day" [ngModelOptions]="{standalone: true}"></ion-input>
	</ion-col>
	<ion-col size="3">
      <ion-input id="mon" placeholder="MM" type="tel" [(ngModel)]="mon" [ngModelOptions]="{standalone: true}"></ion-input>
	</ion-col>
	<ion-col size="4">
      <ion-input id="year" placeholder="YYYY" type="tel"  [(ngModel)]="year" [ngModelOptions]="{standalone: true}"></ion-input>
	</ion-col>
	<ion-col size="2">
      <ion-button clear style="background-color:#f6f7f8" icon-right (click)="showDatePicker()">
        <ion-icon name="calendar">
        </ion-icon>
      </ion-button>
	</ion-col>
	</ion-row>
    <ion-row><ion-col size="12"><ion-label>Tranist Time</ion-label></ion-col></ion-row>
	<ion-row>
	<ion-col size="3">
      <ion-input id="hou" placeholder="HH" type="tel" [(ngModel)]="hou" [ngModelOptions]="{standalone: true}"></ion-input>
	</ion-col>
	<ion-col size="3">
      <ion-input id="min" placeholder="MM" type="tel" [(ngModel)]="min" [ngModelOptions]="{standalone: true}"></ion-input>
	</ion-col>
	<ion-col size="4">
      <ion-input id="sec" placeholder="SS" type="tel" [(ngModel)]="sec" [ngModelOptions]="{standalone: true}"></ion-input>
	</ion-col>
	<ion-col size="2">
      <ion-button clear style="background-color:#f6f7f8" icon-right (click)="showTimePicker()">
        <ion-icon name="calendar">
        </ion-icon>
      </ion-button>
	</ion-col>
	</ion-row>
		<div *ngIf="showP">
			<ion-item lines="full">	
				<ion-label position="floating">Place (min. 3 chars)</ion-label>
				<ion-input [(ngModel)]="autocomplete.query" (input)="updateSearch()" type="text"></ion-input>
			</ion-item>
			<p ion-text class="info" color="primary" [innerHTML]='place'></p>
			<ion-item *ngFor="let item of autocompleteItems" tappable (click)="chooseItem(item)">
			{{ item }}
			</ion-item>
		</div>
	<div *ngIf="showL">
	<ion-row>
	<ion-col size="12"><ion-label>Latitude & Longitude: <span class="atxt" tappable (click)="enter()">{{kpd.binf.lat}},{{kpd.binf.lng}}</span></ion-label></ion-col>
	</ion-row>
</div>
	</ion-grid>
	 <p ion-text class="info" color="primary" [innerHTML]='info'></p>
	<ion-button type="button" expand="block" color="tertiary" tappable (click)="save($event)">Submit</ion-button>
	<div [innerHTML]='desc'></div>
</ion-content>
