<ion-header [translucent]="true">
  <ion-toolbar mode="ios">
    <ion-title><img alt="title" src="assets/imgs/vho-title5.png" style="height: auto; max-height: 100%; width: auto; max-width: 100%;" /></ion-title>
<div slot="start" class="header-icon" menuToggle>
			<ion-icon name="menu" size="large"></ion-icon>
		  </div>
      </ion-toolbar>
</ion-header>
<ion-content padding>
<ion-grid no-padding>
     <ion-row class="hititle"><ion-col col-12>{{ hou }} HOUSE SIGNIFICATION</ion-col></ion-row>
 <div *ngFor="let key of objectKeys(oHou)">
 <ion-row class="hisubtitle"><ion-col col-12><div>{{ oHou[key].details }}</div></ion-col></ion-row>
 </div>
     <ion-row class="title"><ion-col col-12>{{ hou }} HOUSE GROUPING</ion-col></ion-row>
 <div *ngFor="let key of objectKeys(oGrp)">
 <ion-row class="subtitle"><ion-col size="4"><div color="primary">{{ key }}</div></ion-col><ion-col col-8><div color="secondary">{{ oGrp[key].details }}</div></ion-col></ion-row>
 </div>
   <div *ngIf="showSU">
 <ion-row class="title">ANY MORE SUGGESTIONS?<ion-col col-12></ion-col></ion-row>
 <ion-row class="subtitle"><ion-col col-12><div><ion-textarea rows="10" [(ngModel)]="msg"></ion-textarea></div></ion-col></ion-row>
 		<div padding text-center>
	        <p ion-text class="info" color="primary" [innerHTML]='info'></p>
			</div>
			<ion-button type="button" expand="block" color="tertiary" tappable (click)="save()">Submit</ion-button>
			
 </div>
</ion-grid>
<div class="fixed-content"></div></ion-content>
