<ion-tabs>
  <ion-tab-bar>
    <ion-tab-button tab="home">
      <ion-icon name="home"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="hindu-cal">
      <ion-icon name="calendar"></ion-icon>
      <ion-label>Hindu Calendar</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="report">
      <ion-icon name="book"></ion-icon>
      <ion-label>Reports</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="about-app">
      <ion-icon name="information-circle"></ion-icon>
      <ion-label>About</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
