body {
  font-family: roboto;
}

    ion-item {
            background: rgba(var(--ion-color-primary-rgb), 0.05);
            --background: none;
            border-radius: 10px;
            padding: 3px 20px !important;
            margin-bottom: 5px;
            border: none !important;
            -webkit-box-shadow: none !important;
            box-shadow: none !important;
			
		ion-label {
				font-weight: bold;
		}
	}
	  div.title {
    text-align:center;
	font-weight:bold;
	background-color: #ffd9a3;
	border: 1px solid #d35400;
	padding: 5px;
	div.vdas {
	  color: #d35400;
	  padding: 5px;
	  border: 1px solid #ffd9a3;
	}
  }

.vdas .lrd {
   width: 40%;
   max-width: 40%;
   display: inline-block;
   text-align: center;
}
.vdas .per {
   width: 50%;
   max-width: 50%;
   display: inline-block;
   text-align: center;
}
   div.lines  {
    border: 1px solid #ffd9a3;
	display: border-box;
    padding: 2px;
  }
ion-card {
    position: relative;
    text-align: center;
  }
  .adv {
    padding: 5px;
    position: absolute;
    top: 2%;
    width: 100%;
    font-weight: bold;
	font-size: 15px;
	text-align: left;
	margin-left:25px;
  }
  .more {
	color: blue;
	padding: 5px;
	font-weight: bold;
  }
  .note {
   background-color: #ffffb2;
	font-weight:bold;
	padding: 5px;
    text-align:center;
  }
 .zoom {
    position: fixed;
    width: 100%;
    height: 100%;
}
 .mdas {
   color: #424ef4;
 }
 .mdasc {
   color: #424ef4;
   font-weight: bold;
 }
 .adas {
   color:#b70e4d;
 }
 .adasc {
   font-weight: bold;
   color: #b70e4d;
 }
 .pdas {
  color: #B833FF;
 }
 .pdasc {
   font-weight: bold;
   color: #B833FF;
 }
 .msg {
  text-align: center;
  font-weight: bold;
  font-size: 1.35rem;
 }
