<ion-header [translucent]="true">
  <ion-toolbar mode="ios">
    <ion-title><img alt="title" src="assets/imgs/vho-title5.png" style="height: auto; max-height: 100%; width: auto; max-width: 100%;" /></ion-title>
<div slot="start" class="header-icon" menuToggle>
			<ion-icon name="menu" size="large"></ion-icon>
		  </div>
      </ion-toolbar>
</ion-header>
<ion-content class="fixed-content">
<ion-card class="emsg" no-padding>
<div class="etitle">{{ 'Last 30 Days Earnings : ' }} {{ erns | number }} INR</div>
</ion-card>
<div class="etitle">Call Information</div>
  <ion-list class="his">
    <div *ngFor="let c of cinf"> 
    <ion-item tappable (click)="callinfo($event, c)">
      <ion-icon size="large" name="person" slot="start"></ion-icon>
		     <p> <span class="name">{{c.name }}</span><br/>
			 <span class="dob"> {{c.date}}</span></p>
			  <div slot="end">
				<ion-button size="small" type="button" color="tertiary" tappable (click)="settle($event, c)">Capture</ion-button>
			  </div>
    </ion-item>
	</div>
  </ion-list>
 <div class="fixed-content"></div></ion-content>
