body {
  font-family: roboto;
}
.redText {
color: #FF0000;
}
.blueText {
color: var(--vho-color-blue);
}
.greenText {
color: #3db161;
}
.orangeText {
color: #f0882f;
}
.brownText {
color: #cc0000;
}
.boldText {
font-weight: bold;
}

  ion-row.bd {
    text-align:center;
	font-weight:bold;
	border: 1px solid #d35400;
	ion-col.lbl {
	  color: #d35400;
	  background-color: #ffd9a3;
	  padding: 5px;
	  border: 1px solid #ffd9a3;
	  font-weight: bold;
	}
  }

  ion-row.smaintitle {
    text-align:center;
	font-weight:bold;
	background-color: #ffd9a3;
	border: 1px solid #d35400;
	ion-col {
	  text-align:center;
	  color: #d35400;
	  padding: 5px;
	  border: 1px solid #ffd9a3;
	}
  }
  ion-row.stitle {
	font-weight:bold;
	font-size: 1rem;
	color: #d35400;
	ion-col {
	  padding: 5px;
	  border: 1px solid #ffd9a3;
	}
  }

ion-col.week {
  background-color: #eec1ad;
  color: #2a397a;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: bold;
}
ion-col.month {
   font-weight: bold;
   .mday {
   font-size: 1.35rem;
   }
   .tithi {
   font-size: 0.8rem;
   }
}
p.info {
   text-align: center;
   font-weight: bold;
  }
   .card-background-page {



  .card-title {
    position: absolute;
    top: 36%;
    font-size: 2.0em;
    width: 100%;
    font-weight: bold;
    color: #fff;
  }

  .card-subtitle {
    font-size: 1.0em;
    position: absolute;
    top: 10%;
    width: 100%;
    color: #fff;
  }
 }
 .card-note {
  padding: 5px;
  background-color: #ffffb2;
  font-size: 15px;
  font-weight: bold;
  color: #222334;
 }
  .more {
	color: var(--vho-color-blue);
	padding: 5px;
	font-weight: bold;
  }
  p.info {
   text-align: center;
   font-weight: bold;
  }
  p.info2 {
   font-weight: bold;
   color: #0324fc;
  }
.stitle {
  font-size: 1.45rem;
  font-weight: bold;
  color: #d35400;
}
.ssub {
  color: #f71702;
  font-size: 0.7rem;
  font-weight: bold;
  text-align: center;
}
   ion-list.rlist {
        background: none;
        ion-item {
            background: rgba(var(--ion-color-primary-rgb), 0.05);
            border-radius: 10px;
            padding: 3px 20px !important;
            margin-bottom: 5px;
            border: none !important;
            -webkit-box-shadow: none !important;
            box-shadow: none !important;
			ion-label {
				font-weight: bold;
			}
        }
    }

.item ion-thumbnail {
    min-width: 3rem;    
    min-height: 3rem;
    img {
        max-width: 3rem;    
        min-width: 3rem;
    }
}
.desc {
 font-weight: bold;
 font-size: 1.125rem;
 color: #d35400;
 }
  .bstar {
text-transform: uppercase;
font-size: 1.125rem;
 color: var(--vho-color-blue);
  text-decoration: underline;
 }
   ion-card.amsg {
              background: rgba(var(--ion-color-primary-rgb), 0.05);
            --background: none;
            border-radius: 10px;
            --padding: 3px 20px !important;
            padding: 3px !important;
            margin-bottom: 5px;
            border: none !important;
            -webkit-box-shadow: none !important;
            box-shadow: none !important;
}
  .amsg-title {
  text-align: center;
  color: #d35400;
  font-size: 1.45rem;
  font-weight: bolder;
  }
  .amsg-subtitle {
  text-align: left;
  color: #d35400;
  font-size: 1rem;
  font-weight: bolder;
  }
