<ion-header [translucent]="true">
  <ion-toolbar mode="ios">
    <ion-title><img alt="title" src="assets/imgs/vho-title5.png" style="height: auto; max-height: 100%; width: auto; max-width: 100%;" /></ion-title>
<div slot="start" class="header-icon" menuToggle>
			<ion-icon name="menu" size="large"></ion-icon>
		  </div>
      </ion-toolbar>
</ion-header>
<ion-content no-padding>
	    <p ion-text class="info" color="primary" [innerHTML]='info'></p>
    <ion-list>
        <ion-item (click)="detail(article)" *ngFor="let article of articles">
            
                <img slot="end" [src]="article.img" width="50" height="50"/>
            
            <p><span class="title">{{article.title}}</span><br/>
            <span class="category">{{article.createdt}}</span></p>
        </ion-item>
    </ion-list>
<div class="fixed-content"></div></ion-content>
