 body {
 font-family: roboto;
}
 p.info {
   text-align: center;
   font-weight: bold;
  }
  .edit {
  text-align: right;
  color: blue;
  }
  .rvw {
  font-weight: bold;
  font-size: 1.25rem;
  color: #237301;
  }
  ion-list.his {
        margin-bottom: 0!important;
        ion-item {
		--border-color: transparent!important;
        --highlight-height: 0;
        border: 1px solid #ffd9a3;
        border-radius: 4px;
        &.item-has-focus {
            border: 1px solid var(--ion-color-primary);
         }
        }
    }
	 ion-icon.star {
   font-size: 1.25rem;
   color: #FFBF00;
 }
.rbtn {
text-align: right;
}
 ion-icon.user-star {
   font-size: 2.5rem;
   color: #FFBF00;
 }
.edtfb {
   color: #716464;
}
ion-avatar img {
    width: 100% !important;
    height: 100% !important;
    border-radius: 50%;
	overflow: hidden !important;
	padding-right: 10px !important;
	 vertical-align: middle;
}
.img-center {
	margin: 0 auto;
}
.title {
font-size: 1.5rem;
font-weight: bold;
}
.name {
padding: 5px 5px 0px 0px !important;
margin-left: 32px;
font-size: 1.125rem;
font-weight: bold;
vertical-align: middle !important;
}
.avt {
	display : flex;
    align-items : center;
}