<!--
  Generated template for the StoriesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-toolbar>
  <ion-button left menuToggle>
      <ion-icon name="menu"></ion-icon>
    </ion-button>
    <ion-title><img alt="logo" height="24" src="https://78.media.tumblr.com/f068e2426e16157aba924763fabd6234/tumblr_pbdnjgGRLE1xp0noco1_250.png" /></ion-title>
  </ion-toolbar>

</ion-header>


<ion-content padding>
    <ion-list text-wrap *ngIf="mode==='list'">
	    <p ion-text class="info" color="primary" [innerHTML]='info'></p>
        <ion-item (click)="detail(article)" *ngFor="let article of articles">
            <ion-thumbnail item-right>
                <img [src]="article.image" />
            </ion-thumbnail>
            <span class="category">{{article.pubDate}}</span>
            <h2 class="title"><b>{{article.title}}</b></h2>
        </ion-item>
    </ion-list>
    <ion-list *ngIf="mode==='card'">
        <ion-card (click)="detail(article)" *ngFor="let article of articles">
            <ion-item>
                <span class="positive">Astrology</span>
                <h2 class="title"><b>{{article.title}}</b></h2>
            </ion-item>

            <ion-card-content>
                <img [src]="article.image" class="img-card" />
                <div [innerHTML]="article.content"></div>
            </ion-card-content>
        </ion-card>
    </ion-list>
</ion-content>
