page-stories {
    .white-bg {
        background: #fff;
    }
    .category {
        font-size: 12px;
        color: $bleu_3;
    }
    .title {
        font-size: 18px;
    }
    .date {
        color: #888;
    }
    .details {
        line-height: 30px;
        text-align: justify;
    }
}
