body {
  font-family: roboto;
}
.title {
  font-size: 1.45rem;
  font-weight: bold;
  color: #d35400;
}

ion-label {
	font-weight: bold;
  }
    ion-grid.pd {
        ion-row {
            background: rgba(var(--ion-color-primary-rgb), 0.05);
            --background: none;
            border-radius: 10px;
            padding: 3px 20px !important;
            margin-bottom: 5px;
            border: none !important;
            -webkit-box-shadow: none !important;
            box-shadow: none !important;
			
			ion-label {
				font-weight: bold;
			}
            &.item-input {
                .text-input::placeholder {
                    color: #78927e !important;
                    font-size: 1.3rem;
                }
            }

            .label {
                font-size: 1.35rem;
                font-weight: 400;
                color: #78927e;
                flex: unset;
            }
		}
	}
    ion-list.pd {
        background: none;
        ion-item {
            background: rgba(var(--ion-color-primary-rgb), 0.05);
            --background: none;
            border-radius: 10px;
            padding: 3px 20px !important;
            margin-bottom: 5px;
            border: none !important;
            -webkit-box-shadow: none !important;
            box-shadow: none !important;
			
			ion-label {
				font-weight: bold;
			}

            .item-native {
                --background: none !important;
            }
			
            & ion-select-option{
                margin-left: auto;
                max-width: unset;
                -webkit-box-align: center;
                -webkit-align-items: center;
                -ms-flex-align: center;
                align-items: center;
                padding: 0;

                .select {
                    max-width: 100%;
                    .select-text {
                        font-size: 1.35rem;
                    }
                }
            }
            &.item-input {
                .text-input::placeholder {
                    color: #78927e !important;
                    font-size: 1.3rem;
                }
            }

            .label {
                font-size: 1.35rem;
                font-weight: 400;
                color: #78927e;
                flex: unset;
            }
        }
    }
    ion-list.his {
        margin-bottom: 0!important;
        ion-item {
		--border-color: transparent!important;
        --highlight-height: 0;
        border: 1px solid #ffd9a3;
        border-radius: 4px;
        &.item-has-focus {
            border: 1px solid var(--ion-color-primary);
         }
        }
    }
.name {
 font-weight: bold;
}
.nam {
 font-weight: bold;
 font-size: 1.20rem;
}
.dob {
  font-size: 0.8rem;
  font-weight: bold;
}
	
 p.info {
   text-align: center;
   font-weight: bold;
  }
  p.adtxt1 {
	font-weight: bold;
	font-size: 15px;
  }
  p.adtxt2 {
	font-weight: bold;
	font-size: 15px;
	color:blue;
  }
  p.adtxt3 {
	font-weight: bold;
	font-size: 20px;
  }
 .adv {
    padding: 5px;
    position: absolute;
    top: 2%;
    width: 100%;
    font-weight: bold;
	text-align: left;
	margin-left:25px;
  }
  .more {
	color: blue;
  }
  .atxt {
  text-align: right;
  color: blue;
  text-decoration: underline;
  }
.subhead {
    font-size:1.25rem;
	font-weight: bold;
  }
  .btntitle {
   font-size: 1.45rem;
   font-weight: bold;
   text-align: center;
  }
  .btnsub {
   font-size: 1.20rem;
   font-weight: bold;
   text-align: center;
  }