page-dailyforecast {
 ion-card {
    background:rgba(255,255,255,0.5);
    position: relative;
    text-align: center;
  }

  .card-title {
    position: absolute;
    top: 20%;
    font-size: 2.0em;
    width: 100%;
    font-weight: bold;
    color: #fff;
  }

  .card-subtitle {
    font-size: 1.0em;
    position: absolute;
    top: 30%;
    width: 100%;
    color: #fff;
	
  }

}
