<ion-header [translucent]="true">
  <ion-toolbar mode="ios">
    <ion-title><img alt="title" src="assets/imgs/vho-title5.png" style="height: auto; max-height: 100%; width: auto; max-width: 100%;" /></ion-title>
<div slot="start" class="header-icon" menuToggle>
			<ion-icon name="menu" size="large"></ion-icon>
		  </div>
      </ion-toolbar>
</ion-header>
<ion-content padding>
	    <p ion-text class="info" color="primary" [innerHTML]='info'></p>
<ion-list>
      <ion-item (click)="viewprof($event, p)" *ngFor="let p of pujas">
	  <ion-card>
	    <img [src]="p.img" />
		<ion-card-content>
        <ion-card-title>{{p.name}}</ion-card-title>
        <p><span class="tag">{{p.desc}}</span><br/>
		<span class="fee">Rs. {{p.fee}}</span></p>
		
		  
			<ion-button type="button" color="primary" tappable (click)="booknow($event, p)">
			  <ion-icon name="gift-outline"></ion-icon>
			  Book Now
			</ion-button>

			<ion-button type="button" color="tertiary" tappable (click)="viewprof($event, p)" icon-start>
			  <ion-icon name="information-circle-outline"></ion-icon>
			  Know More
			</ion-button>
		  </ion-card-content>
		  </ion-card>
	  </ion-item>
</ion-list>		
<div class="fixed-content"></div></ion-content>