<ion-header>
  <ion-toolbar>
  <ion-button left menuToggle>
      <ion-icon name="menu"></ion-icon>
    </ion-button>
    <ion-title><img alt="logo" height="24" src="https://78.media.tumblr.com/f068e2426e16157aba924763fabd6234/tumblr_pbdnjgGRLE1xp0noco1_250.png" /></ion-title>
  </ion-toolbar>
</ion-header>
<ion-content no-padding>
<ion-grid no-padding>
 <ion-row><ion-col col-6><div #birthChart ></div></ion-col><ion-col col-6><div #navChart ></div></ion-col></ion-row>
 <ion-row><ion-col col-12><h4>{{'Birth Details'|translate}}</h4></ion-col></ion-row>
 <ion-row><ion-col col-6><div color="primary" >{{'Date of Birth'|translate}}</div></ion-col><ion-col-6>{{dob}}</ion-col-6></ion-row>
 <ion-row><ion-col col-6><div color="primary" >{{'Lagna'|translate}}</div></ion-col><ion-col-6>{{lagna}}</ion-col-6></ion-row>
 <ion-row><ion-col col-6><div color="primary" >{{'Lagna Lord'|translate}}</div></ion-col><ion-col-6>{{lagna_lord}}</ion-col-6></ion-row>
 <ion-row><ion-col col-6><div color="primary" >{{'Moon Sign'|translate}}</div></ion-col><ion-col-6>{{moon_sign}}</ion-col-6></ion-row>
 <ion-row><ion-col col-6><div color="primary" >{{'Sun Sign'|translate}}</div></ion-col><ion-col-6>{{sun_sign}}</ion-col-6></ion-row>
 <ion-row><ion-col col-6><div color="primary" >{{'Tithi'|translate}}</div></ion-col><ion-col-6>{{tithi}}</ion-col-6></ion-row>
 <ion-row><ion-col col-6><div color="primary" >{{'Birth Star'|translate}}</div></ion-col><ion-col-6>{{birth_star}}</ion-col-6></ion-row>
 <ion-row><ion-col col-6><div color="primary" >{{'Star Lord'|translate}}</div></ion-col><ion-col-6>{{star_lord}}</ion-col-6></ion-row>
 <ion-row><ion-col col-6><div color="primary" >{{'Moon Phase'|translate}}</div></ion-col><ion-col-6>{{moon_phase}}</ion-col-6></ion-row>
 <ion-row><ion-col col-12><h4>{{'Yogas PRESENT in horoscope'|translate}}</h4></ion-col></ion-row>
 <div *ngFor="let key of objectKeys(oYog)">
 <ion-row class="maintitle"><ion-col col-12><div color="primary" >{{ oYog[key].name }}</div></ion-col></ion-row>
 <ion-row class="title"><ion-col col-12><div color="level2"  >{{ oYog[key].desc }}</div></ion-col></ion-row>
 </div>
 <ion-row><ion-col col-12><h4>{{'Yogas ANALYZED'|translate}}</h4></ion-col></ion-row>
 <div *ngFor="let key of  objectKeys(aYog)">
 <ion-row class="subtitle"><ion-col col-6><div color="level2"  >{{ aYog[key].name }}</div></ion-col><ion-col col-6><div color="level2"  >{{ aYog[key].desc }}</div></ion-col></ion-row>
 </div>
 <ion-row><ion-col col-12><h4>{{'Yogas TO BE ANALYZED'|translate}}</h4></ion-col></ion-row>
 <div *ngFor="let key of  objectKeys(nYog)">
 <ion-row class="subtitle"><ion-col col-6><div color="level2"  >{{ nYog[key].name }}</div></ion-col><ion-col col-6><div color="level2"  >{{ nYog[key].desc }}</div></ion-col></ion-row>
 </div>
</ion-grid> 
</ion-content>
