page-rajayoga {
.redText {
color: #FF0000;
}
.blueText {
color: #001EFF;
}
.greenText {
color: #3db161;
}
.orangeText {
color: #f0882f;
}
ion-grid {
  margin:0px;
}
 ion-col div {
    border: 1px solid #e6e9ee;
    padding: 5px;
    text-align: center;
	display: border-box;
  }

  
  ion-row.title {
	font-weight:bold;
	padding: 2px;
  }
  ion-row.subtitle {
	font-weight:bold;
	font-size:15px;
  }
 ion-row.title2 {
    text-align:center;
	font-weight:bold;
	background-color: #3399FF;
	padding: 5px;
	color: #FBFCFC;
  }
ion-row.maintitle {
	font-weight:bold;
	font-size:15px;
	background-color: #f4a460;
	color: #FEFAF7;
  }  
 .zoom {
    position: fixed;
    width: 100%;
    height: 100%;
}
}
