.container-fluid {
  margin: 0 auto; /* center container horizontally */
  padding: 20px;
}
.container-astro {
  max-width: 50%;
}
.border-astro {
  border-color: var(--bs-border-color-translucent);
}
.avatar {
  max-width: 100%;
  height: auto;
}

.lbl {
  cursor: pointer;
}

.sbd {
  font-size: 20px;
  font-weight: bold;
}

/* Style for speaker and microphone images when active */
.active {
  filter: drop-shadow(0px 0px 5px #00FF00); /* green drop shadow */
}

/* Style for speaker and microphone images when inactive */
.inactive {
  filter: drop-shadow(0px 0px 5px #FF0000); /* red drop shadow */
}