<ion-header [translucent]="true">
  <ion-toolbar mode="ios">
    <ion-title><img alt="logo" height="24" src="assets/imgs/logo.png" /></ion-title>
    <ion-button color="primary" slot="start" menuToggle>
      <ion-menu-button width="24">
       <img alt="menu" height="24" src="assets/icon/hamburger.png" />	  
	  </ion-menu-button>
    </ion-button>
  </ion-toolbar>
</ion-header>
<ion-content>
<ion-grid>
<ion-row>
<ion-col size="12">
<div class="txt1 ion-text-center">{{txt1}}</div>
</ion-col>
</ion-row>
<ion-row>
<ion-col size="12">
<div class="txt2 ion-text-center">{{txt2}}</div>
</ion-col>
</ion-row>
<ion-row>
<ion-col size="12">
<div class="ion-text-center"><img class="round-img" [src]="img1"></div>
</ion-col>
</ion-row>
</ion-grid>
<audio #vhoaudio muted="true"></audio>
<ion-grid no-padding *ngIf="showCI">
 <ion-row class="maintitle"><ion-col>{{'CALL INFORMATION'}}</ion-col></ion-row>
 <ion-row class="bd"><ion-col class="lbl" size="6"><div>Start Time</div></ion-col><ion-col><div>{{cinf.starttime}}</div></ion-col></ion-row>
 <ion-row class="bd"><ion-col class="lbl" size="6"><div>End Time</div></ion-col><ion-col><div>{{cinf.endtime}}</div></ion-col></ion-row>
 <div *ngIf="cinf.iscaller">
 <ion-row class="bd"><ion-col class="lbl" size="6"><div>Rate our Astrologer</div></ion-col><ion-col>
			<div class="ion-text-center">
<ion-icon class="cstar" name={{str1}} tappable (click)="stars($event, 1)"></ion-icon><ion-icon class="cstar" name={{str2}} tappable (click)="stars($event, 2)"></ion-icon><ion-icon class="cstar" name={{str3}} tappable (click)="stars($event, 3)"></ion-icon><ion-icon class="cstar" name={{str4}} tappable (click)="stars($event, 4)"></ion-icon><ion-icon class="cstar" name={{str5}} tappable (click)="stars($event, 5)"></ion-icon></div>
           </ion-col>
			</ion-row>
		<ion-row>
		<ion-col><ion-textarea maxlength="1024" rows="6" [(ngModel)]="msg" placeholder="Comments"></ion-textarea></ion-col>
		</ion-row>
		
	</div>
 </ion-grid>
<ion-footer>
 <p ion-text class="info" color="primary" [innerHTML]='info'></p>
<ion-button type="button" expand="block" color="tertiary" tappable (click)="btnclick($event)">{{btn}}</ion-button>
</ion-footer>
</ion-content>
