  body {
   font-family: roboto;
  }
  .desc {
	color: blue;
	font-weight: bold;
  }
  .fitm {
    font-size: 0.65rem;
	font-weight: bold;
   color: #033804;
  }
  .subhead {
    font-size:1.25rem;
	font-weight: bold;
  }
  .title {
   font-size: 1.45rem;
   font-weight: bold;
   color: #d35400;
  }
  .sub {
   font-size: 1.20rem;
   font-weight: bold;
  }
  .wsub {
   font-size: 1.15rem;
   font-weight: bold;
  }
  .msg {
    font-weight: bold;
	font-size: 0.9rem;
	color: #11479e;
  }
   .rep {
   font-size: 1.05rem;
   font-weight: bold;
   color: #f70505;
  }
.sav {
 color: #fc0303;
 font-size: 0.8rem;
 font-weight: bold;
}
