<ion-header [translucent]="true">
  <ion-toolbar mode="ios">
    <ion-title><img alt="title" src="assets/imgs/vho-title5.png" style="height: auto; max-height: 100%; width: auto; max-width: 100%;" /></ion-title>
<div slot="start" class="header-icon" menuToggle>
			<ion-icon name="menu" size="large"></ion-icon>
		  </div>
      </ion-toolbar>
</ion-header>
<ion-content padding>
	<div class="ion-text-center">
	<img src="https://78.media.tumblr.com/37ccdb3f1236975606c9d8c8dfbc132f/tumblr_pefats6oGY1xp0noco1_250.png" alt="subscribe button"/>
	</div>
	 <div *ngIf="showSU">
	 <div class="ion-text-center"><strong>SUBSCIRBE NOW & GET FULL ACCESS</strong></div>
	 <ion-list>
	<ion-item class="sdash-items">
     <div slot="start"><img height="24" src="assets/imgs/tick.png" alt="126 Astrology"/>
     <span>Get Unlimited Access To All Advanced features in the App</span></div>
	</ion-item>
	<ion-item class="sdash-items">
     <div slot="start"><img height="24" src="assets/imgs/tick.png" alt="126 Astrology"/>
     <span>Get Predictions On Your Current Dasha Combined With Planetary Transits & Know The Fruitfut Events On Each Day</span></div>
	</ion-item>
	<ion-item class="sdash-items">
     <div slot="start"><img height="24" src="assets/imgs/tick.png" alt="126 Astrology"/>
     <span>Know Your Favourable Days on different aspects of life using your star strength & lunar stregth methods based on B V Raman's Muhurut</span></div>
	</ion-item>
	<ion-item class="sdash-items">
     <div slot="start"><img height="24" src="assets/imgs/tick.png" alt="126 Astrology"/>
     <span>Get access to the report tool for generating 25 page detailed birth chart report</span></div>
	</ion-item>
	<ion-item class="sdash-items">
     <div slot="start"><img height="24" src="assets/imgs/tick.png" alt="126 Astrology"/>
     <span>Get complete analysys on Varga charts such as Navamsha, Dashamsa, Chaturtamsa, Vimsamsa, Shastamsa and more</span></div>
	</ion-item>
	<ion-item class="sdash-items">
     <div slot="start"><img height="24" src="assets/imgs/tick.png" alt="126 Astrology"/>
     <span>Get Nadi Analysis In The Transit Predictions</span></div>
	</ion-item>
	<ion-item class="sdash-items">
     <div slot="start"><img height="24" src="assets/imgs/tick.png" alt="126 Astrology"/>
     <span>Access To BTR, a powerful feature to correct your Birth Timings with accuracy level up to seconds</span></div>
	</ion-item>
	</ion-list>
	 </div>
	<ion-list>
    <div  *ngIf="showSU">
	   <div padding *ngIf="showPAY">
			  <ion-radio-group [(ngModel)]="paym" ngDefaultControl [ngModelOptions]="{standalone: true}">
				<ion-list-header>
				  <ion-label class="subhead">Payment Method</ion-label>
				</ion-list-header>
				<ion-item>
				  <ion-label>Pay using RazorPay</ion-label>
				  <ion-radio slot="start" name="group1" value="rpay" (ionSelect)="paymSel('rpay')"></ion-radio>
				</ion-item>
				<ion-item>
				  <ion-label>Pay using GooglePay</ion-label>
				  <ion-radio slot="start" name="group1" value="gpay" (ionSelect)="paymSel('gpay')"></ion-radio>
				</ion-item>
			  </ion-radio-group>
				<ion-button type="button" expand="block" color="tertiary" tappable (click)="subscribe()" >Subscribe for Rs. 999/- per year</ion-button>
				<ion-card>
					<ion-card-header>
					  <ion-card-title>Know about Subscription Policy</ion-card-title>
					  <ion-card-subtitle>Subscription Policy</ion-card-subtitle>
					</ion-card-header>
				  
					<ion-card-content>
					  The subscription price is Rs. 999/- for a period of 1 year. Your subscription will be renewed after the completion of every 12 months cycle unless you choose to cancel the subsciption. Plaese Visit our Terms & Conditions page for more details
					</ion-card-content>
				  
					<a href="https://vedichoroo.com/assets/info/terms-and-conditions.html"><ion-button fill="clear">Terms & Conditions</ion-button></a>
					<a href="https://vedichoroo.com/assets/info/privacy-policy.html"><ion-button fill="clear">Privacy Policy</ion-button></a>
				  </ion-card>
			<ion-item>
		<p class="desc">
		   If you have problems with our online payment, you can also make a direct payment to below account & write to our <ion-badge (click)="help()">Help Desk</ion-badge>. The request will be processed within 24 hours.
		</p>
		<div class="ion-text-center">
        <p class="adtxt1">Hamsini Smart Solutions<br>ICICI A/c No. 180505001023, IFSC Code: ICIC0001805</p><br><br>
		</div>
			</ion-item>
		</div></div>
	   <div padding *ngIf="showCR">
	        <p ion-text class="adtxt1"><strong>Thanks for being our valuable Subscriber. If you have any questions please contact <ion-badge (click)="help()">Help Desk</ion-badge></strong></p>
		</div>
		<div padding *ngIf="showWC">
		<p ion-text class="adtxt1"><span class="desc">Thank you for subscribing to our App, if you are astrologer, you can subscribe our App to provide online consultation, please send us email to <a href="mailto:info&#64;vedichoroo.com">info&#64;vedichoroo.com</a> with your profile picture and experience summary. And for queries/complaints, please contact <ion-badge  color="secondary" tappable (click)="help()">Help Desk</ion-badge></span></p>
		</div>
		<div padding *ngIf="showCI">
			<p class="ion-text-center"><strong>Please Enter Your Contact Details</strong></p>
	      
		<ion-item>
		  <ion-label>Name</ion-label>
		  <ion-input maxlength="25" type="text" name="nam" [(ngModel)]="nam" [ngModelOptions]="{standalone: true}"></ion-input>
		</ion-item>
		<ion-item>
		<ion-label>Mobile Number</ion-label>
		<ion-input type="tel" [(ngModel)]="mob" name="mob" [ngModelOptions]="{standalone: true}"></ion-input>
		</ion-item>
		<ion-item>
		<ion-label>Email</ion-label>
		<ion-input type="text" [(ngModel)]="eml" name="eml" [ngModelOptions]="{standalone: true}"></ion-input>
		</ion-item>
	        <p ion-text class="info" color="primary" [innerHTML]='sinf'></p>
			<ion-button type="button" expand="block" color="tertiary" tappable (click)="saveSub()">Submit</ion-button>
		</div>
		</ion-list>
<div class="fixed-content"></div></ion-content>
