<ion-header [translucent]="true">
  <ion-toolbar mode="ios">
    <ion-title><img alt="title" src="assets/imgs/vho-title5.png" style="height: auto; max-height: 100%; width: auto; max-width: 100%;" /></ion-title>
<div slot="start" class="header-icon" menuToggle>
			<ion-icon name="menu" size="large"></ion-icon>
		  </div>
      </ion-toolbar>
</ion-header>
<ion-content class="fixed-content">
<ion-grid *ngIf="showDS">
 <ion-row class="dstitle"><ion-col col-12>{{doh.name}}</ion-col></ion-row>
 <ion-row class="ds"><ion-col><div [innerHTML]='doh.desc'></div></ion-col></ion-row>
 <ion-row class="dstitle"><ion-col col-12>{{'Remedies'|translate}}</ion-col></ion-row>
 <ion-row class="ds"><ion-col><div [innerHTML]='doh.remedies'></div></ion-col></ion-row>
 <ion-row class="dstitle"><ion-col col-12>{{'Kundli Analysis'|translate}}</ion-col></ion-row>
 <ion-row class="ds"><ion-col><div [innerHTML]='dtl'></div></ion-col></ion-row>
 </ion-grid>
  <div tappable (click)="talk2ast()">
<img src="assets/imgs/126ad.png"/>
</div>
<div class="fixed-content"></div></ion-content>
