<ion-header>

  <ion-toolbar>
  <ion-button left menuToggle>
      <ion-icon name="menu"></ion-icon>
    </ion-button>
    <ion-title><img alt="logo" height="24" src="https://78.media.tumblr.com/f068e2426e16157aba924763fabd6234/tumblr_pbdnjgGRLE1xp0noco1_250.png" /></ion-title>
  </ion-toolbar>

</ion-header>


<ion-content padding>
<ion-card>
<img src="https://i.imgur.com/RGGoe2V.png"/>
<div class="card-title"></div>
<div class="card-subtitle"></div>
</ion-card>
<div *ngIf="showBLG">
    <ion-list text-wrap>
	    <p ion-text class="info" color="primary" [innerHTML]='info'></p>
        <ion-item (click)="detail(article)" *ngFor="let article of articles">
            <ion-thumbnail item-right>
                <img [src]="article.image" />
            </ion-thumbnail>
            <span class="category">{{article.pubDate}}</span>
            <h2 class="title"><b>{{article.title}}</b></h2>
        </ion-item>
    </ion-list>
</div>
<div *ngIf="showPRF">
<h4>Brief Introduction</h4>
Sanketh sharma is a well qualified Astrologer and Vaastu Consultant who gives accurate future readings through a medium of Horoscope. He is a Professional Certified Consultant who also uses his intuition to offer guidance to all of his clients, encouraging them to move in a positive direction all the times and face the challenges that may lie ahead of them.

The remedies suggested by Sankethsharma ji have scientific background and are very easy to follow which does not disturb the regular schedule. While predicting he also highlights the period to be taken care of health and for money investments which helps to plan future steps.

More than 10000+ clients have taken advantage of the Astrological as well as Vaastu Consultations which includes Politicians, Actors, Directors, Producers, Anti-Corruption Officers, IT Professionals, Bank Officers, Businessman from around the globe.

When you schedule your Horoscope reading or Vaastu Consultation with Sankethsharma, you will receive a detailed and highly accurate reading that covers the aspects of your life where you feel you need the most guidance.

His arcticles gets published on many events in daily news papers

<h4>VEDIC EDUCATION QUALIFICATIONS</h4>
He has pursued PRATISHTANTTAM in AGAMA SHASTRA

<h4>EDUCATION QUALIFICATIONS</h4>
Pursued Master of business administration in HRM

<h4>ASTROLOGICAL QUALIFICATIONS</h4>
HE PERSUED DIPLOMA AND MASTER DEGREE IN (M.A) ASTROLOGY 
AWARDED KP JYOTISHA VIVASWATH BY KPAF HYDERABAD

<h4>REASON FOR CHOOSING ASTROLOGY AS CAREER</h4>
I belong to shaiva Brahmin family and have deep interest in astrology from childhood. I believe in God kudavelly shree parvathi raamalingeshwara swamy ,  Astrology can change the lives of people, who believe in Astrology. I believe that Astrological remedies can make a healthy, wealthy and happy life. I assure my best guidance and perfect remedy.

<h4>EXPERIENCE</h4>
12Years+

<h4>ABILITIES</h4>
Forecast of Complete Horoscope, my guidance and remedies in all important areas of life like Career, Business, Money, Love, Education, Property, Personal Matters, Transfer, Enemy, Marriage, Match making, Partnership, Health, Life Reading, Karmakanda, Muhurta, Vaastu Tips , Analysis of Vaastu Dosha in Horoscope, Accurate Remedial Measure,
</div>
<div *ngIf="showASU">
	<a [href]="walnk"><button ion-button full tappable color="primary">
          <ion-icon name="text"></ion-icon>
          Chat Now
        </button></a>
        <button ion-button full tappable color="secondary" (click)="callreq($event)">
          <ion-icon name="call"></ion-icon>
          Call Now
        </button>
		</div>
</ion-content>
