/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";
.redText {
color: --ion-color-danger;
font-size: bold;
}
.blueText {
color: --ion-color-primary;
}
.greenText {
color: --ion-color-success;
}
  ion-row.title {
    text-align:center;
	font-weight:bold;
	background-color: rgba(var(--ion-color-warning-rgb), 0.05);
	border: 1px solid --ion-color-warning;
	ion-col {
	  color: --ion-color-warning;
	  padding: 5px;
	  border: 1px solid rgba(var(--ion-color-warning-rgb), 0.05);
	}
  }
   ion-row.lines ion-col {
    border: 1px solid rgba(var(--ion-color-warning-rgb), 0.05);
    padding: 5px;
    text-align: center;
	display: border-box;
  }
  ion-row.subtitle {
	font-weight:bold;
	font-size:15px;
  }
  ion-row.desc {
	font-weight:bold;
	border: 1px solid rgba(var(--ion-color-warning-rgb), 0.05);
	ion-col {
	  color: --ion-color-warning;
	  padding: 5px;
	  border: 1px solid rgba(var(--ion-color-warning-rgb), 0.05);
	}
  }
    ion-row.bd {
    text-align:center;
	font-weight:bold;
	border: 1px solid rgba(var(--ion-color-warning-rgb), 0.05);
	ion-col.lbl {
	  color: --ion-color-warning;
	  background-color: rgba(var(--ion-color-warning-rgb), 0.05);
	  padding: 5px;
	  border: 1px solid rgba(var(--ion-color-warning-rgb), 0.05);
	  font-weight: bold;
	}
	ion-col.desc {
	  text-align: left !important;
	  padding: 5px;
	  border: 1px solid rgba(var(--ion-color-warning-rgb), 0.05);
	}
  }

  ion-row.maintitle {
    text-align:center;
	font-weight:bold;
	background-color: rgba(var(--ion-color-warning-rgb), 0.05);
	border: 1px solid --ion-color-warning;
	ion-col {
	  text-align:center;
	  color: --ion-color-warning;
	  padding: 5px;
	  border: 1px solid rgba(var(--ion-color-warning-rgb), 0.05);
	}
  }

  .pln {
   font-weight: bold;
  }
   .bstar {
 color: blue;
  text-decoration: underline;
 }
 ion-grid.bct {
  margin: 0px;
  padding:0px;
  ion-row {
	  margin: 0px;
	  padding: 0px;
  }
  ion-col {
	  margin: 0px;
	  padding: 0px;
  }
}
// global.scss
ion-content, ion-header, ion-toolbar {
	--ion-background-color: rgba(var(--ion-color-primary-rgb), 0.05) !important;;
 }
ion-header {
	--min-height: 56px; // Adjust to match the desired height
  }
  
  
  ion-title.title-image {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 56px; // Adjust the height based on your design
	color: #ffffff; // Set text color if needed
	background: url('assets/imgs/vho-title5.png') center/cover no-repeat;
	position: relative;
	opacity: 0.8;
  }
  ion-buttons[slot="start"], ion-buttons[slot="end"] {
	display: flex;
	align-items: center;
  }
  
  ion-button[slot="start"], ion-button[slot="end"] {
	img {
	  height: 24px; // Adjust the height of the icon
	  width: auto; // Maintain aspect ratio
	  margin: 0; // Reset any default margins
	}
  }
  

  