body {
  font-family: roboto;
}
  ion-row.bd {
    text-align:center;
	font-weight:bold;
	border: 1px solid #d35400;
	ion-col.lbl {
	  color: #d35400;
	  background-color: #ffd9a3;
	  padding: 5px;
	  border: 1px solid #ffd9a3;
	  font-weight: bold;
	}
  }

  ion-row.maintitle {
    text-align:center;
	font-weight:bold;
	background-color: #ffd9a3;
	border: 1px solid #d35400;
	ion-col {
	  text-align:center;
	  color: #d35400;
	  padding: 5px;
	  border: 1px solid #ffd9a3;
	}
  }
  .nak {
  text-transform: uppercase;
  font-size: 1.45rem;
  font-weight: bold;
  }
