<ion-header [translucent]="true">
	<ion-toolbar mode="ios">
	  <ion-title class="ion-text-center">
		  <img alt="title" src="assets/imgs/vho-title5.png" style="height: auto; max-height: 100%; width: auto; max-width: 100%;" />
		</ion-title>
		<div slot="start" class="header-icon" menuToggle>
			<ion-icon name="menu" size="large"></ion-icon>
		  </div>
	  
		  <div *ngIf="dho.sho" slot="end" class="header-icon" (click)="rightmenu()">
			<ion-icon name="moon" size="large"></ion-icon>
		  </div>
	</ion-toolbar>
  </ion-header>
  <ion-content class="fixed-content">
	<div class="page-content">
	<ion-card class="amsg" no-padding *ngIf="aumsg">
		<div class="amsg-title">APP UPDATE REQUIRED!!</div>
		<div class="amsg-subtitle">{{aumsg}}</div>
		<ion-button type="button" size="small" color="success" tappable (click)="skip()">SKIP UPDATE</ion-button>
		<ion-button type="button" size="small" color="success" tappable (click)="update()">UPDATE NOW</ion-button>
	</ion-card>
	<ion-card class="amsg" no-padding *ngIf="amsg">
		<div class="amsg-title">{{ atitle }}</div>
		<div class="amsg-subtitle">{{ amsg }}</div>
		<div class="amsg-button-container">
			<ion-button type="button" size="small" color="success" expand="full" tappable (click)="msgok()">
				OK, Got It!
			</ion-button>
		</div>
	</ion-card>
		<ion-card class="amsg" no-padding *ngIf="hmsg">
		<div class="amsg-title">HELP DESK MESSAGE!!</div>
		<div class="amsg-subtitle">{{hmsg}}</div>
		<ion-button type="button" size="small" color="success" tappable (click)="hmsgok()">HIDE</ion-button>
	</ion-card>
	<p *ngIf="hmsg" class="winfo" [innerHTML]='info3'></p>
	<ion-card class="panch divine-bg" tappable (click)="viewPanchang()">
  <div class="panch-header">
    <img src="assets/imgs/valmiki.png" class="panch-header-img divine-img" />
    <div class="panch-header-date">{{ today }}</div>
  </div>
  <ion-grid>
    <ion-row class="panch-row">
      <ion-col size="6" class="panch-detail-col">
        <ion-icon name="sunny-outline" class="panch-icon"></ion-icon>
        <span class="cfn label-bold">{{ 'Sunrise' | translate }}:</span>
        <span class="cvl">{{ sunrise }}</span>
      </ion-col>
      <ion-col size="6" class="panch-detail-col">
        <ion-icon name="moon-outline" class="panch-icon"></ion-icon>
        <span class="cfn label-bold">{{ 'Sunset' | translate }}:</span>
        <span class="cvl">{{ sunset }}</span>
      </ion-col>
    </ion-row>
    <ion-row class="panch-row">
      <ion-col size="6" class="panch-detail-col">
        <ion-icon name="calendar-outline" class="panch-icon"></ion-icon>
        <span class="cfn label-bold">{{ 'Tithi' | translate }}:</span>
        <span class="cvl">{{ tithi }}</span>
      </ion-col>
      <ion-col size="6" class="panch-detail-col">
        <ion-icon name="star-outline" class="panch-icon"></ion-icon>
        <span class="cfn label-bold">{{ 'Nakshatra' | translate }}:</span>
        <span class="cvl">{{ nak }}</span>
        <ion-spinner *ngIf="bthi" item-right></ion-spinner>
      </ion-col>
    </ion-row>
    <ion-row class="panch-row">
      <ion-col size="6" class="panch-detail-col">
        <ion-icon name="sparkles-outline" class="panch-icon"></ion-icon>
        <span class="cfn label-bold">{{ 'Yoga' | translate }}:</span>
        <span class="cvl">{{ yog }}</span>
      </ion-col>
      <ion-col size="6" class="panch-detail-col">
        <ion-icon name="layers-outline" class="panch-icon"></ion-icon>
        <span class="cfn label-bold">{{ 'Karan' | translate }}:</span>
        <span class="cvl">{{ karn }}</span>
      </ion-col>
    </ion-row>
    <ion-row class="panch-row">
      <ion-col size="6" class="panch-detail-col">
        <ion-icon name="ellipse-outline" class="panch-icon"></ion-icon>
        <span class="cfn label-bold">{{ 'Rahu Kalam' | translate }}:</span>
        <span class="cvl">{{ rahukal }}</span>
      </ion-col>
      <ion-col size="6" class="panch-detail-col">
        <ion-icon name="remove-circle-outline" class="panch-icon"></ion-icon>
        <span class="cfn label-bold">{{ 'Yamagandam' | translate }}:</span>
        <span class="cvl">{{ yama }}</span>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-card>
			<ion-card *ngIf="showBN" tappable (click)="advt()">
		<img [src]="adv.img" />
		<div class="adv" [innerHTML]="adv.msg"> </div>
	</ion-card>
	<p class="info" [innerHTML]='info'></p>
	<p class="info" [innerHTML]='info2'></p>
	<ion-grid>
<ion-row class="drow" tappable (click)="dhoro()">
  <ion-col>
    <div class="dcont" *ngIf="dho.sho">
      <div class="dimg-container">
        <img class="dimg" [src]="dho.img" />
      </div>
      <p class="dtxt">{{ dho.smsg }}</p>
    </div>
  </ion-col>
</ion-row>
<ion-row class="hrow">
  <ion-col size="4" class="dash-items" *ngFor="let item of dashItems" tappable (click)="itemTapped($event, item)">
    <div class="ion-text-center">
      <ion-icon [name]="item.icon" size="large"></ion-icon>
      <br>
      <span class="htitle">{{ item.title | translate }}</span>
    </div>
  </ion-col>
</ion-row>
	  </ion-grid>
</div>
<div class="fixed-content"></div>
</ion-content>
