<ion-header [translucent]="true">
	<ion-toolbar mode="ios">
	  <ion-title class="ion-text-center">
		  <img alt="title" src="assets/imgs/vho-title5.png" style="height: auto; max-height: 100%; width: auto; max-width: 100%;" />
		</ion-title>
		<div slot="start" class="header-icon" menuToggle>
			<ion-icon name="menu" size="large"></ion-icon>
		  </div>
	  
		  <div *ngIf="dho.sho" slot="end" class="header-icon" (click)="rightmenu()">
			<ion-icon name="moon" size="large"></ion-icon>
		  </div>
	</ion-toolbar>
  </ion-header>
  <ion-content class="fixed-content">
	<div class="page-content">
	<ion-card class="amsg" no-padding *ngIf="aumsg">
		<div class="amsg-title">APP UPDATE REQUIRED!!</div>
		<div class="amsg-subtitle">{{aumsg}}</div>
		<ion-button type="button" size="small" color="success" tappable (click)="skip()">SKIP UPDATE</ion-button>
		<ion-button type="button" size="small" color="success" tappable (click)="update()">UPDATE NOW</ion-button>
	</ion-card>
	<ion-card class="amsg" no-padding *ngIf="amsg">
		<div class="amsg-title">{{ atitle }}</div>
		<div class="amsg-subtitle">{{ amsg }}</div>
		<div class="amsg-button-container">
			<ion-button type="button" size="small" color="success" expand="full" tappable (click)="msgok()">
				OK, Got It!
			</ion-button>
		</div>
	</ion-card>
		<ion-card class="amsg" no-padding *ngIf="hmsg">
		<div class="amsg-title">HELP DESK MESSAGE!!</div>
		<div class="amsg-subtitle">{{hmsg}}</div>
		<ion-button type="button" size="small" color="success" tappable (click)="hmsgok()">HIDE</ion-button>
	</ion-card>
	<p *ngIf="hmsg" class="winfo" [innerHTML]='info3'></p>
	<ion-card class="panch" tappable (click)="viewPanchang()">
		<div class="ion-text-center ched">{{ today }}</div>
		<ion-grid>
			<ion-row class="hrow">
				<ion-col size="12">
					<div class="panch-details">
						<div class="detail-item">
							<span class="cvl">{{ lagna }}</span>
							<span>{{ lagml }}</span>-<span>{{ lagal }}</span>-<span>{{ lagsl }}</span>
							<ion-spinner *ngIf="blag" item-right></ion-spinner>
						</div>
					</div>
				</ion-col>
			</ion-row>
			<ion-row class="hrow">
				<ion-col size="6">
					<div class="panch-details">
						<div class="detail-item">
							<span class='cfn'>{{ 'Sunrise' | translate }} :</span>
							<span class="cvl">{{ sunrise }}</span>
						</div>
					</div>
				</ion-col>
				<ion-col size="6">
					<div class="panch-details">
						<div class="detail-item">
							<span class='cfn'>{{ 'Sunset' | translate }} :</span>
							<span class="cvl">{{ sunset }}</span>
						</div>
					</div>
				</ion-col>
			</ion-row>
			<ion-row class="hrow">
				<ion-col size="4" class="panch-image">
					<img src="assets/imgs/valmiki.png" />
				</ion-col>
				<ion-col size="8">
					<div class="panch-details">
						<div class="detail-item">
							<span class='cfn'>{{ 'Rahu Kalam' | translate }} :</span>
							<span class="cvl">{{ rahukal }}</span>
						</div>
						<div class="detail-item">
							<span class='cfn'>{{ 'Yamagandam' | translate }} :</span>
							<span class="cvl">{{ yama }}</span>
						</div>
						<div class="detail-item">
							<span class='cfn'>{{ 'Abhijit' | translate }} :</span>
							<span class="cvl">{{ abhjit }}</span>
						</div>
						<div class="detail-item">
							<span class='cfn'>{{ 'Nakshatra' | translate }} :</span>
							<span class="cvl">{{ nak }}</span>
							<ion-spinner *ngIf="bthi" item-right></ion-spinner>
						</div>
						<div class="detail-item">
							<span class='cfn'>{{ 'Tithi' | translate }} :</span>
							<span class="cvl">{{ tithi }}</span>
						</div>
					</div>
				</ion-col>
			</ion-row>
			<ion-row class="hrow">
				<ion-col size="6">
					<div class="panch-details">
						<div class="detail-item">
							<span class='cfn'>{{ 'Yoga' | translate }} :</span>
							<span class="cvl">{{ yog }}</span>
						</div>
					</div>
				</ion-col>
				<ion-col size="6">
					<div class="panch-details">
						<div class="detail-item">
							<span class='cfn'>{{ 'Karan' | translate }} :</span>
							<span class="cvl">{{ karn }}</span>
						</div>
					</div>
				</ion-col>
			</ion-row>
		</ion-grid>
	</ion-card>
			<ion-card *ngIf="showBN" tappable (click)="advt()">
		<img [src]="adv.img" />
		<div class="adv" [innerHTML]="adv.msg"> </div>
	</ion-card>
	<p class="info" [innerHTML]='info'></p>
	<p class="info" [innerHTML]='info2'></p>
	<ion-grid>
		<ion-row class="drow">
			<ion-col>
			  <div class="dcont" *ngIf="dho.sho">
				<div class="dimg-container">
				  <img class="dimg" [src]="dho.img" />
				</div>
				<p class="dtxt">{{ dho.smsg }}
				  <span class="more" tappable (click)="dhoro()">..Read More</span>
				</p>
			  </div>
			</ion-col>
		  </ion-row>
		<ion-row class="hrow">
		  <ion-col size="4" class="dash-items" *ngFor="let item of r1items" tappable (click)="itemTapped($event, item)">
			<div class="ion-text-center">
			  <img width="56" height="56" src="{{ item.icon }}" />
			  <br><span class="htitle">{{ item.title | translate }}</span>
			</div>
		  </ion-col>
		</ion-row>
	  
		<ion-row class="hrow">
		  <ion-col size="4" class="dash-items" *ngFor="let item of r2items" tappable (click)="itemTapped($event, item)">
			<div class="ion-text-center">
			  <img width="56" height="56" src="{{ item.icon }}" />
			  <br><span class="htitle">{{ item.title | translate }}</span>
			</div>
		  </ion-col>
		</ion-row>
	  
		<ion-row class="hrow">
		  <ion-col size="4" class="dash-items" *ngFor="let item of r3items" tappable (click)="itemTapped($event, item)">
			<div class="ion-text-center">
			  <img width="56" height="56" src="{{ item.icon }}" />
			  <br><span class="htitle">{{ item.title | translate }}</span>
			</div>
		  </ion-col>
		</ion-row>
	  </ion-grid>
	<ion-list class="kpitems">
		<ion-item *ngFor="let item of items" tappable (click)="itemTapped($event, item)">
			<img [src]="item.img" slot="start" />
			<p> <span class="kitem">{{item.title | translate}}</span><br><span class="ksitem"> {{item.note | translate}}</span></p>
		</ion-item>
	</ion-list>
</div>
<div class="fixed-content"></div>
</ion-content>
