<ion-header [translucent]="true">
  <ion-toolbar mode="ios">
    <ion-title><ion-img src="assets/imgs/vho-title5.png" ></ion-img></ion-title>
    <ion-button color="primary" slot="start" menuToggle>
      <ion-menu-button width="24">
       <img alt="menu" height="24" src="assets/icon/hamburger.png" />	  
	  </ion-menu-button>
    </ion-button>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <ion-list>
    <ion-item>
      <ion-label>Category</ion-label>
      <ion-select [(ngModel)]="cat">
        <ion-select-option value="bi">Billing</ion-select-option>
        <ion-select-option value="te">Technical</ion-select-option>
        <ion-select-option value="ot">Others</ion-select-option>
      </ion-select>
    </ion-item>
		<ion-item>	
			<ion-label>Subject</ion-label>
			<ion-input maxlength="25" [(ngModel)]="sub" type="text"></ion-input>
		</ion-item>
		<ion-item>
		<ion-label>Message</ion-label>
		<ion-textarea maxlength="1024" rows="6" [(ngModel)]="msg"></ion-textarea>
		</ion-item>
		<div padding>
	        <p ion-text class="info" color="primary" [innerHTML]='info'></p>
			<div *ngIf="showSU">
			<ion-button type="button" expand="block" color="tertiary" tappable (click)="save($event)">Submit</ion-button></div>
		</div>
  </ion-list>
  <ion-list class="his">
      <div *ngFor="let t of ticks">
      <ion-item class="item item-icon-left">
      <ion-icon size="large" name="mail-outline" slot="start"></ion-icon>
	   <p> <span class="name">{{t.resp }}</span><br/>
	  </ion-item>
	  </div>
  </ion-list>
</ion-content>
