<ion-header [translucent]="true">
  <ion-toolbar mode="ios">
    <ion-title><img alt="title" src="assets/imgs/vho-title5.png" style="height: auto; max-height: 100%; width: auto; max-width: 100%;" /></ion-title>
<div slot="start" class="header-icon" menuToggle>
			<ion-icon name="menu" size="large"></ion-icon>
		  </div>
      </ion-toolbar>
</ion-header>
<ion-content padding>
<ion-list>
  <ion-item>
  <ion-label>
    Notify me about important transits in my current Dasha period
    <p class="note">Get alerts when a major transit affects your Mahadasha, Antardasha, or Pratyantardasha lords.</p>
  </ion-label>
  <ion-toggle [(ngModel)]="transitNotify" (ionChange)="onToggle('transitNotify', transitNotify)"></ion-toggle>
</ion-item>
<ion-item>
  <ion-label>
    6 AM Panchang Summary
    <p class="note">Get a daily notification with Sunrise, Sunset, Rahu Kaalam, Yamagandam, Abhijit, Tithi, Nakshatra, and more.</p>
  </ion-label>
  <ion-toggle [(ngModel)]="panchangSummary" (ionChange)="onToggle('panchangSummary', panchangSummary)"></ion-toggle>
</ion-item>
<ion-item>
  <ion-label>Notify me at Rahu Kaalam start</ion-label>
  <ion-toggle [(ngModel)]="rahu" (ionChange)="onToggle('rahu', rahu)"></ion-toggle>
</ion-item>
<ion-item>
  <ion-label>Play Rahu Kaalam shanti mantra</ion-label>
  <ion-toggle [(ngModel)]="rahus" (ionChange)="onToggle('rahus', rahus)"></ion-toggle>
</ion-item>
<ion-item>
<ion-label>Notify me on Sunrise</ion-label>
<ion-toggle [(ngModel)]="sunrise" (ionChange)="onToggle('sunrise', sunrise)"></ion-toggle>
</ion-item>
<ion-item>
<ion-label>Notify me on Sunset</ion-label>
<ion-toggle [(ngModel)]="sunset" (ionChange)="onToggle('sunset', sunset)"></ion-toggle>
</ion-item>
</ion-list>
<div class="fixed-content"></div></ion-content>
