<!--
  Generated template for the HoroscopePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-toolbar>
    <ion-button left menuToggle>
      <ion-icon name="menu"></ion-icon>
    </ion-button>
    <ion-title><img alt="logo" height="24" src="https://78.media.tumblr.com/f068e2426e16157aba924763fabd6234/tumblr_pbdnjgGRLE1xp0noco1_250.png" /></ion-title>
  </ion-toolbar>
</ion-header>


<ion-content no-padding>
<div class='note' [innerHTML]='chartanls'></div>
<h1>Your Birth Chart</h1>
<div #birthChart></div>
<div tappable (click)="chgayan()">
<p padding [innerHTML]='ayanINF'></p>
</div>
<ion-grid no-padding>
     <ion-row class="title"><ion-col col-2>PLANET</ion-col><ion-col col-2>POS</ion-col><ion-col col-2>RASI</ion-col><ion-col col-4>NAK</ion-col><ion-col col-2>NAK LORD</ion-col></ion-row>
    <ion-row class="subtitle"><ion-col col-2><div color="primary" ion-text [innerHTML]='pnam1'></div></ion-col><ion-col col-2><div color="primary" ion-text [innerHTML]='ppos1'></div></ion-col><ion-col col-2><div color="primary" ion-text [innerHTML]='pras1'></div></ion-col><ion-col col-4><div color="primary" ion-text [innerHTML]='pnak1'></div></ion-col><ion-col col-2><div color="primary" ion-text [innerHTML]='nakl1'></div></ion-col></ion-row>
    <ion-row class="subtitle"><ion-col col-2><div color="primary" ion-text [innerHTML]='pnam2'></div></ion-col><ion-col col-2><div color="primary" ion-text [innerHTML]='ppos2'></div></ion-col><ion-col col-2><div color="primary" ion-text [innerHTML]='pras2'></div></ion-col><ion-col col-4><div color="primary" ion-text [innerHTML]='pnak2'></div></ion-col><ion-col col-2><div color="primary" ion-text [innerHTML]='nakl2'></div></ion-col></ion-row>
    <ion-row class="subtitle"><ion-col col-2><div color="primary" ion-text [innerHTML]='pnam3'></div></ion-col><ion-col col-2><div color="primary" ion-text [innerHTML]='ppos3'></div></ion-col><ion-col col-2><div color="primary" ion-text [innerHTML]='pras3'></div></ion-col><ion-col col-4><div color="primary" ion-text [innerHTML]='pnak3'></div></ion-col><ion-col col-2><div color="primary" ion-text [innerHTML]='nakl3'></div></ion-col></ion-row>
    <ion-row class="subtitle"><ion-col col-2><div color="primary" ion-text [innerHTML]='pnam4'></div></ion-col><ion-col col-2><div color="primary" ion-text [innerHTML]='ppos4'></div></ion-col><ion-col col-2><div color="primary" ion-text [innerHTML]='pras4'></div></ion-col><ion-col col-4><div color="primary" ion-text [innerHTML]='pnak4'></div></ion-col><ion-col col-2><div color="primary" ion-text [innerHTML]='nakl4'></div></ion-col></ion-row>
    <ion-row class="subtitle"><ion-col col-2><div color="primary" ion-text [innerHTML]='pnam5'></div></ion-col><ion-col col-2><div color="primary" ion-text [innerHTML]='ppos5'></div></ion-col><ion-col col-2><div color="primary" ion-text [innerHTML]='pras5'></div></ion-col><ion-col col-4><div color="primary" ion-text [innerHTML]='pnak5'></div></ion-col><ion-col col-2><div color="primary" ion-text [innerHTML]='nakl5'></div></ion-col></ion-row>
    <ion-row class="subtitle"><ion-col col-2><div color="primary" ion-text [innerHTML]='pnam6'></div></ion-col><ion-col col-2><div color="primary" ion-text [innerHTML]='ppos6'></div></ion-col><ion-col col-2><div color="primary" ion-text [innerHTML]='pras6'></div></ion-col><ion-col col-4><div color="primary" ion-text [innerHTML]='pnak6'></div></ion-col><ion-col col-2><div color="primary" ion-text [innerHTML]='nakl6'></div></ion-col></ion-row>
    <ion-row class="subtitle"><ion-col col-2><div color="primary" ion-text [innerHTML]='pnam7'></div></ion-col><ion-col col-2><div color="primary" ion-text [innerHTML]='ppos7'></div></ion-col><ion-col col-2><div color="primary" ion-text [innerHTML]='pras7'></div></ion-col><ion-col col-4><div color="primary" ion-text [innerHTML]='pnak7'></div></ion-col><ion-col col-2><div color="primary" ion-text [innerHTML]='nakl7'></div></ion-col></ion-row>
    <ion-row class="subtitle"><ion-col col-2><div color="primary" ion-text [innerHTML]='pnam8'></div></ion-col><ion-col col-2><div color="primary" ion-text [innerHTML]='ppos8'></div></ion-col><ion-col col-2><div color="primary" ion-text [innerHTML]='pras8'></div></ion-col><ion-col col-4><div color="primary" ion-text [innerHTML]='pnak8'></div></ion-col><ion-col col-2><div color="primary" ion-text [innerHTML]='nakl8'></div></ion-col></ion-row>
    <ion-row class="subtitle"><ion-col col-2><div color="primary" ion-text [innerHTML]='pnam9'></div></ion-col><ion-col col-2><div color="primary" ion-text [innerHTML]='ppos9'></div></ion-col><ion-col col-2><div color="primary" ion-text [innerHTML]='pras9'></div></ion-col><ion-col col-4><div color="primary" ion-text [innerHTML]='pnak9'></div></ion-col><ion-col col-2><div color="primary" ion-text [innerHTML]='nakl9'></div></ion-col></ion-row>
     <ion-row class="note"><ion-col col-12><div color="primary" ion-text [innerHTML]='horo'></div></ion-col></ion-row>
	 <ion-row><ion-col col-12><ion-card class="adcard" *ngIf="showASU"><img src="https://66.media.tumblr.com/9ee9c64a6eb1d06438183b8a4180858a/tumblr_pmywo2fPpE1xp0noco1_540.png"/><div class="adv"> Talk to our expert Astrologers & get remidies to your problems.<span class="more" tappable (click)="more()">Know more..</span></div>
</ion-card></ion-col></ion-row>
     <ion-row class="title"><ion-col col-12>VIMSOTTARA DASHA</ion-col></ion-row>
	<ion-row *ngFor="let das of oDas" [hidden]="!das.show"><ion-col col-4 no-padding><div [class]="das.style" ion-text>{{das.lord}}</div></ion-col><ion-col col-7 no-padding><div [class]="das.style" ion-text>{{das.per}}</div></ion-col><ion-col col-1 no-padding><button *ngIf="das.show" tappable (click)="ontoggle($event, das)"><ion-icon [name]="das.icon"></ion-icon></button></ion-col></ion-row>
</ion-grid>
<div [innerHTML]='akashWani'></div>
<canvas #cnvHoro></canvas>
</ion-content>
